<ul ng-animate="'animate'">
    <li ng-repeat="item in items | filter: filterFn">
        <a ng-href="{{item.html_url}}" target="_blank">
            <div class="item">
                <div class="head clearfix">
                    <div class="pull-left">
                        <div class="arrows">
                            <span><img src="../images/next.png" alt="arrow"></span>
                            <span class="arrow2"><img src="../images/next.png" alt="arrow"></span>
                        </div>
                        <h3>{{item.full_name}}</h3>
                    </div>
                    <div class="counters pull-right">
                        <span title="{{item.stargazers_count}} people starred this repository.">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="count">{{item.stargazers_count}}</span>
                        </span>
                        <span title="{{item.watchers_count}} people watching this repository.">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="count">{{item.watchers_count}}</span>
                        </span>
                    </div>
                </div>
                <p>
                    <span>Language: {{item.language}}</span>
                     <span ng-if="item.description">| {{item.description}}</span>
                </p>
            </div>
        </a>
    </li>
</ul>

<div class="loadmore text-center" ng-if="hasMore">
    <button class="btn btn-primary" ng-if="prev" ng-click="loadPrev()" ng-disabled="loadingResults">Previous</button>
    <button class="btn btn-primary" ng-if="next" ng-click="loadNext()" ng-disabled="loadingResults">Next</button>
</div>
