<!DOCTYPE html>
<html lang="en" ng-app="tgApp">
    <head>
        <meta charset="UTF-8">
        <title>TopGit - Finding the best github projects!</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/rzslider.css">
        <link rel="stylesheet" href="css/nprogress.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/lib/angular/angular-route.min.js"></script>
        <script src="js/lib/angular/angular-animate.min.js"></script>
        <script src="js/nprogress.js"></script>
        <script src="js/rzslider.js"></script>
        <script src="js/controllers/data.js"></script>
        <script src="js/app.js"></script>
        <!--<script src="js/controllers/search.js"></script>-->
        <!--<script src="js/directives/directives.js"></script>-->
        <script src="js/services/repo.js"></script>
    </head>

    <body>

        <div id="main" class="container">
            <header id="header">
                <nav class="cf" ng-include="'views/nav.html'"></nav>
                <!--<navbar-page></navbar-page>-->
            </header>
            <div class="page">
                <div class="container-fluid wrapper">

                    <div id="content" class="col-sm-8 section">

                        <!--<search-box></search-box>-->

                        <div class="srs view-frame" ng-view></div>

                    </div>

                    <div id="sidebar" class="col-sm-4 section">
                        <div class="item-group" ng-if="rateLimit">
                            <p class="item-heading">
                                <span class="glyphicon glyphicon-tasks"></span>
                                Rate Limit
                            </p>
                            <div class="item">
                                <p>{{rateLimitRemaining}} out of {{rateLimit}}</p>
                            </div>
                        </div>
                        <div class="item-group" ng-if="slider.options">
                            <p class="item-heading">
                                <span class="glyphicon glyphicon-star"></span>
                                Stars
                            </p>
                            <div class="item">
                                <div class="progress-box">
                                    <div>
                                        <rzslider
                                                rz-slider-model="slider.value"
                                                rz-slider-options="slider.options"
                                        >
                                        </rzslider>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>

